<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566918418345-ttum28g5lgn1g453hqorjc99uenu6uo3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566918418345-ttum28g5lgn1g453hqorjc99uenu6uo3</string>
	<key>API_KEY</key>
	<string>AIzaSyDFPFjIR0HTn9Co5Vmjaa_FBxgUU-S_UGk</string>
	<key>GCM_SENDER_ID</key>
	<string>566918418345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappUi</string>
	<key>PROJECT_ID</key>
	<string>whats-up-d89cd</string>
	<key>STORAGE_BUCKET</key>
	<string>whats-up-d89cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566918418345:ios:1a69976217e86a6dcdbeb8</string>
</dict>
</plist>